# Generated configuration file
TYPE=Ethernet
ONBOOT=on
{% if dhcp %}
BOOTPROTO=dhcp
{% else %}
DEVICE={{ iface.name }}
NM_CONTROLLER=no
BOOTPROTO=none
HWADDR={{ iface.mac }}
IPADDR={{ v4 }}
NETMASK={{ netmask }}
{% endif %}

# DNS configuration
PEERDNS=no
